<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you absolutely sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning" role="alert">
                Unexpected bad things will happen if you don’t read this!
            </div>
            <div class="modal-body">
                <p>
                    This action
                    <strong style="color:black;">cannot</strong> be undone.
                    This will permanently delete the <strong class="WalletNumber" style="color:black;">
                    </strong><strong style="color:black;"> DEVICE </strong>
                </p>
                <p>
                    Please type <strong class="WalletNumber" style="color:black;"></strong> to confirm.
                </p>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12">
                    <input type="text" name="" value="" class="form-control" style="margin-bottom:2.5px;" id="txtDeleteDevice" />
                    <button value="" id="btnDeleteDevice" class="btn btn-danger form-control " style="margin-top:2.5px;">
                        I understand the consequences, delete this repository
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
